@font-face {
  font-family: 'Helvetica-SOS';
  src: url('./fonts/Helvetica-Neue-LT-Com-95-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeue-SOS';
  src: url('./fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}